@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 30, 129, 176;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255; 
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 55, 55, 55; 
    --background-end-rgb: 55, 55, 55;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      rgba(255, 255, 255, 0), 
      rgba(255, 255, 255, 0.2)
    ),
    url('/bgimage.jpg'); 
  background-size: cover; 
  background-position: center; 
  background-attachment: fixed;
  display: flex; 
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0; 
  background-repeat: no-repeat; 
}
